@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url(./fonts/Montserrat-Medium.ttf) format('truetype');
  }
@font-face {
    font-family: 'PTSerif';
    src: local('PTSerif'), url(./fonts/PTSerif-BoldItalic.ttf) format('truetype');
}

body {
    font: 16px/1.3 Montserrat;
}
.app-container {
    margin: 2.8rem;
    min-width: 380px;
    width: 33%;
}