@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url(./fonts/Montserrat-Medium.ttf) format('truetype');
  }
@font-face {
    font-family: 'PTSerif';
    src: local('PTSerif'), url(./fonts/PTSerif-BoldItalic.ttf) format('truetype');
}

body {
    font: 16px/1.3 Montserrat;
}
.app-container {
    margin: 2.8rem;
    min-width: 380px;
    width: 33%;
}
.category-selector option {
    text-transform: capitalize;
}
.title-list {
    border-bottom: 1px solid #a6cae3;
    color: #084F8D;
    font-size: 0.9rem;
    padding-bottom: .5rem;
    text-transform: uppercase;
}
.article-list {
    border-collapse: collapse;
    display: table;
}
.article-item {
    border-bottom: 1px solid #d4d9dd;
    display: table-row;
    list-style: none;
}
.article-item > * {
    display: table-cell;
    padding: 1rem;
}
/*.article-*/
.article-counter {
    color: #e5e5e5;
    font: 4.2rem/.8 PTSerif;
    text-align: right;
    vertical-align: top;
}
.article-title {
    vertical-align: middle;
}
.article-link {
    color: #212121;
    font-weight: bold;
    text-decoration: none;
}
.article-link:hover {
    text-decoration: underline;
}
